<app-header />
<main>
  <ul id="users">
    @for (user of users; track user.id){
    <li>
      <app-user
        [user]="user"
        [selected]="user.id === selectedUserId"
        (select)="onSelectUser($event)"
      />
    </li>
    }
  </ul>
  @if (selectedUser){
  <app-tasks
    [userId]="selectedUser.id"
    [name]="selectedUser.name"
    (openForm)="onOpenForm($event)"
  ></app-tasks>
  } @else {
  <p id="fallback">Select a user to see their tasks</p>
  } @if (openedForm){
  <app-form></app-form>
  }
</main>
